body {
  background-color: $eggShell;
  font-family: 'Roboto', sans-serif;
}
button {
  &:focus {
    outline: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-container {
  position: relative;
  width: 100%;
  margin-left: 0;
  &.animates {
    transition: margin $animationDuration ease-in-out;
  }
  &.channels-mode {
    margin-left: -100%;
  }
}
.sections {
}
.section-page {
  position: relative;
}
.play-button {
  position: relative;
  cursor: pointer;
  background-color: $brandGreen;
  border-radius: 7px;
  padding: 0 15px;
  line-height: 60px;
  box-shadow: 2px 4px 11px 1px black;
  color: $eggShell;
  font-size: 24px;
  text-align: center;
  border: 0;
  .play-icon {
    width: 38px;
    vertical-align: middle;
    margin-left: 15px;
  }
  &:active {
    top: 1px;
    left: 1px;
    box-shadow: 2px 3px 10px 1px black;
  }
}