.video-js {
  overflow: hidden;
  .vjs-big-play-button {
    display: inline-block!important;
  }
  .vjs-playing .vjs-big-play-button {
    display: none!important;
  }
  .vjs-control-bar {
    // display: none!important;
  }
}
.liveplayer-overlayed {
  position: relative;
}
.player-placeholder {
  width: 100%;
  height: 100%;
}
.player-title {
  position: absolute;
  top: 3%;
  left: 6%;
  font-size: 60px;
  color: rgba(255,255,255,0.9);
}
.iframe-player-overlayed {
  position: relative;
}
.iframe-player {
  background: transparent url('../images/loading.gif') 50% 50% no-repeat;
}
body.in-iframe {
  background: black url('../images/loading.gif') 50% 50% no-repeat;
}